<div class="feedback" (click)="modalToggle(true)" ><button>Обратная связь<i class="fa fa-envelope-o" aria-hidden="true"></i></button></div>

<div *ngIf="isModalWindowVisible" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title text-center"><b>Обратная связь</b></h3>
				<span class="close" (click)="modalToggle(false)"><i class="fa fa-window-close" aria-hidden="true"></i></span>
			</div>
			<div class="modal-body text-center" *ngIf="feedbackForm">
				<form сlass="form" [formGroup]="feedbackForm" (ngSubmit)="onFeedbackFormSubmit($event.target.elements)" autocomplete="off">
					<div class="form__field">
						<input type="text" id="name" placeholder="Ваше имя" [formControl]="feedbackForm.controls['name']">
						<span *ngIf="!phone.valid" class="form__error">Не указан имя</span>
					</div>
					<div class="form__field">
						<input type="text" id="phone" placeholder="Ваш телефон" [formControl]="feedbackForm.controls['phone']">
						<span *ngIf="!phone.valid" class="form__error">Не указан телефон</span>
					</div>	
					<div class="form__field">
						<input type="email" id="email" placeholder="Ваша почта" [formControl]="feedbackForm.controls['email']">
						<span *ngIf="!email.valid" class="form__error">Не указана почта</span>
					</div>
					<div class="form__field">
						<textarea id="message" placeholder="Ваше сообщение" [formControl]="feedbackForm.controls['message']" rows="4"></textarea>
						<span *ngIf="!message.valid" class="form__error">Введите сообщение</span>
					</div>
					<strong *ngIf="sendSuccess">Ваше сообщение успешно отправлено!</strong>
					<div class="text-center">
						<button type="submit">Отправить</button>					
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
