table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; 
  border-collapse: collapse;
  color: #686461;
  width: 60%;
}

caption {
  padding: 10px;
  color: white;
  background: #4682B4;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
  font-size: 1.1rem;
}

td:first-child {
	padding-right: 30px;
}

td {
  padding: 10px;
  font-size: 1rem;
}

tr:nth-child(odd) {
  background: #ffffff;
}

tr:nth-child(even) {
  background: #d5d5d5;
}

tr:not(:first-child):hover{
  background: #bdbdbd
}

.documents {  
  display: inline;
}
.documents div {
  display: inline-block;
  margin:  10px;
  max-width: 50%;
}
.documents span {
  font-size: .9rem;
}