.flex-container-services-table {
	max-width: 1300px;
	margin: 30px auto 0 auto;
	line-height: 1.65;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
}
table {
/*  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; */
  border-collapse: collapse;
  color: #686461;
}
caption {
  padding: 10px;
  color: white;
  background: #4682B4;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
}
td:first-child {
	padding-right: 30px;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #E8E6D1;
}
.flex-container-services-documents {
	max-width: 1300px;
	margin: 30px auto 0 auto;
	line-height: 1.65;
	padding: 20px 50px;
	display: flex;
	justify-content: space-between;
}
.flex-container-services-documents span {
	font-size: .9rem;
	flex: 0.5;
}
