<div id="documentEditWindow" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title"><b>Редактирование документа</b></h3>
				<span class="close" (click)="closeModal(false)"><i class="fa fa-window-close" aria-hidden="true"></i></span>
			</div>
			<div class="modal-body" *ngIf="document">
				<form сlass="form" [formGroup]="fileForm" (ngSubmit)="onFormFileSubmith($event.target.elements)">
					<div class="form__field">
						<input type="text" id="name" placeholder="Название документа" [formControl]="fileForm.controls['name']">
						<span *ngIf="!fileName.valid" class="form__error">Название документа не указано</span>
					</div>
					<ul *ngIf="categories" class="category-list-form-input">
						<li  *ngFor="let c of categoriesCtrl.controls; let i = index">
							<input type="checkbox" id=e{{i}} data-value={{categories[i].slug}} data-toggle="toggle" [formControl]="c">
							<label for=e{{i}}>{{ categories[i].title }}</label>
						</li>
					</ul>
					<div class="text-center">
						<button type="submit">Сохранить</button>					
					</div>
				</form>
			</div>
		</div>
	</div>
</div>