<div class="content">
    <div class="left">
        <app-category-list></app-category-list>
    </div>
    <div class="center">
        <div class="diplomas-list text-center">
            <a target="_blank" href="./assets/i/diploma/mgu.jpg"><img src="./assets/i/diploma/mgu.jpg"></a>
            <a target="_blank" href="./assets/i/diploma/misi.jpg"><img src="./assets/i/diploma/misi.jpg"></a>
            <a target="_blank" href="./assets/i/diploma/ano.jpg"><img src="./assets/i/diploma/ano.jpg"></a>
            <a target="_blank" href="./assets/i/diploma/ams_1.jpg"><img src="./assets/i/diploma/ams_1.jpg"></a>
            <a target="_blank" href="./assets/i/diploma/ams_2.jpg"><img src="./assets/i/diploma/ams_2.jpg"></a>
        </div>
        <app-certificate-list></app-certificate-list>
    </div>
    <div class="right">
        <ul>
            <h4>Справочная информация</h4>
            <li class=""><a href="http://consultant.ru/" target="_blank">Консультант</a></li>
            <li class=""><a href="http://garant.ru/" target="_blank">Гарант</a></li>
            <li class=""><a href="http://kodeks.ru/" target="_blank">Кодекс</a></li>
            <li class=""><a href="http://1jur.ru/" target="_blank">Система Юрист</a></li>
            <br>
            <li class=""><a href="http://мвд.рф/" target="_blank">МВД</a></li>
            <li class=""><a href="http://moscow.sledcom.ru/" target="_blank">ГСУ</a></li>
            <li class=""><a href="http://fsb.ru/" target="_blank">ФСБ</a></li>
            <li class=""><a href="http://уэбипк.мск.мвд.рф/" target="_blank">УЭБиПК</a></li>
            <li class=""><a href="http://genproc.gov.ru/" target="_blank">Генпрокуратура</a></li>
            <li class=""><a href="http://www.fedsfm.ru/" target="_blank">Росфинмониторинг</a></li>
            <br>
            <li class=""><a href="http://nalog.ru/" target="_blank">ФНС</a></li>
            <li class=""><a href="http://www.gosuslugi.ru/" target="_blank">Госуслуги</a></li>            
        </ul>
    </div>
</div>
<h4 class="text-center">Наши партнеры</h4>
<div class="partners text-center">
    <a href="http://bezar.ru/" target="_blank"><img src="./assets/i/bezar.png"></a>
    <a href="http://mgka1.ru/advokat/chistyakov-artem-sergeevich" target="_blank"><img src="./assets/i/mgka.png"></a>
    <a href="http://expertgroup.online/" target="_blank"><img src="./assets/i/expert-group.png"></a>
    <a href="http://urist-smirnova.ru/" target="_blank"><img src="./assets/i/smirnova.png"></a>
    <a href="http://allofsafety.ru/" target="_blank"><img src="./assets/i/allofsafety.png"></a>
    <a href="https://goo.gl/maps/rMMmnJrBYxD2" target="_blank"><img src="./assets/i/reso.png"></a>
</div>
