<div class="flex-container-content">
    <div id="left-menu">
      <app-category-list></app-category-list>
  </div>
  <div id="center-content">
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>
    <div><a href="./assets/i/sert.png" target="_blank"><img src="./assets/i/sert.png" title="Какой-то сертификат"></a></div>

</div>
<div id="right-menu">
    <ul class="">
        <li class=""><a href="http://consultant.ru/" target="_blank">Консультант</a></li>
        <li class=""><a href="http://garant.ru/" target="_blank">Гарант</a></li>
        <li class=""><a href="http://kodeks.ru/" target="_blank">Кодекс</a></li>
        <li class=""><a href="http://1jur.ru/" target="_blank">Система Юрист</a></li>
        <br>
        <li class=""><a href="http://мвд.рф/" target="_blank">МВД</a></li>
        <li class=""><a href="http://moscow.sledcom.ru/" target="_blank">ГСУ</a></li>
        <li class=""><a href="http://fsb.ru/" target="_blank">ФСБ</a></li>
        <li class=""><a href="http://уэбипк.мск.мвд.рф/" target="_blank">УЭБиПК</a></li>
        <li class=""><a href="http://genproc.gov.ru/" target="_blank">Генпрокуратура</a></li>
        <li class=""><a href="http://www.fedsfm.ru/" target="_blank">Росфинмониторинг</a></li>
        <li class=""><a href="http://nalog.ru/" target="_blank">ФНС</a></li>
        <li class=""><a href="http://www.gosuslugi.ru/" target="_blank">Госуслуги</a></li>            
    </ul>
</div>
</div>
<h4 class="text-center">Наши партнеры</h4>
<div class="flex-container-partners">
    <div><a href="http://bezar.ru/" target="_blank"><img src="./assets/i/bezar.png"></a></div>
    <div><a href="http://mgka1.ru/advokat/chistyakov-artem-sergeevich" target="_blank"><img src="./assets/i/mgka.png"></a></div>
    <div><a href="http://expertgroup.online/" target="_blank"><img src="./assets/i/expert-group.png"></a></div>
    <div><a href="http://urist-smirnova.ru/" target="_blank"><img src="./assets/i/smirnova.png"></a></div>
    <div><a href="http://allofsafety.ru/" target="_blank"><img src="./assets/i/allofsafety.png"></a></div>
</div>
