.content {
	width: 100%;
	display: table;
	margin-bottom: 70px 0;
}

.content .right h4 {
	color: #cc0000;
}

.left, .right {
	width: 27%;
	display: table-cell;
	vertical-align: top;
}

.right ul {
	padding-inline-start: 20px!important;
}

.center {
	width: 50%;
	display: table-cell;
	vertical-align: top;
}

.diplomas-list img {
	height: 100px;
	padding: 5px;
}

@media screen and (max-width: 600px) {
	.left, .content, .right {
		display: block;
		width: 95%;
	}
}