.flex-container-documents {
	max-width: 1300px;
	margin: 30px auto 0 auto;
	line-height: 1.65;
	padding: 20px 50px;
	display: flex;
	justify-content: space-between;
}
.flex-container-documents span {
	font-size: .9rem;
	flex: 0.5;
}
.documents-header{
	text-align: center;
}
