.header {
	width: 100%;
	height: auto;
}

.header img {
	width: 31.6666667%;
}

.header a:not(:last-child) {
	margin-right: 0.2%;
}

.contacts {
	margin: 40px 0 0 70%;
	width: 200px;
}

.contacts-header:before {
	font-family: fontawesome;
	font-weight: bold;
	margin-right: 10px;
	content: "\f24e";
}

.contacts-header {
	font-size: 1rem;
	background-color: #343a40;
	color: #fff;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
	padding: 5px;
}

.contacts-phones {
	font-size: .9rem;
	font-weight: bold;
	border-radius: 0 0 4px 4px;
	background-color: #d9d9d9;
	padding: 5px 20px 5px 5px;
	transition: opacity .8s ease-out;
}

.contacts-phones div {
	margin-top: 8px;
	margin-left: 10px;
}

.contacts-phones div:last-child {
	margin-bottom: 8px;
}

@media screen and (max-width: 700px) {
	.header img {
		width: 99%;
	}

	.header a:nth-child(odd) {
		display: none;
	}

/*	.header a:last-child {
		display: none;
	}
*/
	.contacts {
		margin-left: 50%;
		width: 200px;
	}
}

@media screen and (max-width: 500px) {
	.contacts {
		margin: 40px 0 0 0;
	}
}