#left-menu {
    flex: 2;
    justify-content: flex-start;
}
#left-menu li {
    list-style: none;
    font-size: 1.2rem;
}
a:link {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #1a1a1a;
}
a:visited {
  color: #000000;
}
