<ul class="nav-bar">
	<li><a [routerLink]="['./document']" [routerLinkActive]="'nav-bar-active'">Документы судебной практики</a></li>
	<li><a [routerLink]="['./category']" [routerLinkActive]="'nav-bar-active'">Категории права</a></li>
	<li><a [routerLink]="['./service']" [routerLinkActive]="'nav-bar-active'">Услуги</a></li>
	<li><a [routerLink]="['./user']" [routerLinkActive]="'nav-bar-active'">Пользователи</a></li>
	<li><a [routerLink]="['./']">Инструменты</a></li>
	<li><a [routerLink]="['./']">Чат</a></li>
</ul>

<router-outlet></router-outlet>